<div class="row">
    <h1 class="col-md-11">Olá {{vm.user.username}}!</h1>
    <a href="#/login" ng-click="logout()" class="float-right">Sair</a>
</div>

<hr />
<h3>Filtros:</h3>
<form name="form" ng-submit="vm.searchRecortes()" role="form">        

        <div class="form-group input-group">
            <input type="text" placeholder="NUP" name="nup" id="nup" class="form-control" ng-model="vm.filters.nup" />
            <input type="date" name="t" id="t" class="form-control" ng-model="vm.filters.t" placeholder="Data de Publicação" />
        </div>
        
        <div class="form-group">
            <input type="text" name="q" id="q" class="form-control" ng-model="vm.filters.q" placeholder="Termos" />
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary float-right">Procurar</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <div class="form-inline">
                <label for="size">Resultados por página</label>
                <input type="text" name="size" id="size" class="form-control" ng-model="vm.filters.size" placeholder="Termos" />
            </div>
        </div>
        
</form>
<hr />
<img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
<nav aria-label="..." ng-if="vm.recortes.count">
  <ul class="pagination">
    <li class="page-item" ng-class="{'disabled': !vm.recortes.previous}">
      <button class="page-link" ng-click="vm.previousPage()">Anterior</button>
    </li>
    <li class="page-item float-right" ng-class="{'disabled': !vm.recortes.next}">
      <button class="page-link" ng-click="vm.nextPage()" >Proximo</button>
    </li>
  </ul>
</nav>
<table class="table table-striped" ng-if="vm.recortes.count">
    <thead>
        <tr>
            <th scope="col">Numeracao Unica</th>
            <th scope="col">Data Publicação</th>
            <th scope="col">Codigo Diario</th>
            <th scope="col">Caderno</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="recorte in vm.recortes.results">
            <td>{{ recorte.numeracao_unica }}</th>
            <td>{{ recorte.data_publicacao | date:'dd-MM-yyyy' }}</td>
            <td>{{ recorte.codigo_diario }}</td>
            <td>{{ recorte.caderno }}</td>
        </tr>    
</table>
